body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

video {
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}
