body {
    text-align: center;
    background: #f4f4f4;
    font-family: Arial;
}

video {
    margin-top: 20px;
    border: 3px solid #000;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 12px 22px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}
